<div class="box-body">
    <div class="row">
        <div class="form-horizontal">
            <div class="col-xs-6">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.Editor("Nome", new { htmlAttributes = new { @class = "cpfcnpj form-control", @placeholder = "Nome" } })
                    </div>
                </div>
            </div>
            
            <div class="col-xs-6">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.Editor("NCM", new {htmlAttributes = new {@class = "form-control", @placeholder = "NCM"}})
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.Editor("UnidadeMedida", new {htmlAttributes = new {@class = "form-control", @placeholder = "Unidade de Medida"}})
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.Editor("PrecoUnitario", new {htmlAttributes = new {@class = "form-control", @placeholder = "Preço Unitário"}})
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box-footer">
    <button type="submit" class="btn btn-info pull-right">Cadastrar</button>
</div>
