@{
    ViewData["Title"] = "Acesso Negado";
    Layout = "_LayoutAdmin";
}

<div class="content-wrapper">
    <section class="content-header text-center">
        
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-danger" style="height: 180px">
                    <div class="box-header with-border text-center">
                        <h2 style="font-weight: bolder; color: darkred">
                            Acesso Negado
                        </h2>
                    </div>
                    <div class="box-body text-center">
                        <h4 class="box-title">Você não tem permissão para acessar essa parte do sistema.<br/>
                            Verifique sua autenticação, ou entre em contato com os administradores do sistema.</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>