<div class="box-body">
    <div class="row">
        <div class="form-horizontal">
            <div class="col-xs-6">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.Editor("EndPai", new { htmlAttributes = new { @class = "cpfcnpj form-control", @placeholder = "Endereço Pai" } })
                    </div>
                </div>
            </div>
            
            <div class="col-xs-6">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.Editor("NovoEnd", new {htmlAttributes = new {@class = "form-control", @placeholder = "Novo Endereço de Estoque"}})
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box-footer">
    <button type="submit" class="btn btn-info pull-right">Cadastrar</button>
</div>
