@{
    ViewBag.Title = "Pedidos de Venda";
}


<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Pedidos de Venda
            <small>Listar</small>
        </h1>
        @Html.Partial("_ErrorSummary")
        <ol class="breadcrumb">
            <li>
                <a href="/administrativo-pedidos-venda/incluir-novo" class="btn btn-block btn-success btn-sm" style="color: white">
                    <span class="glyphicon glyphicon-plus"></span> Novo
                </a>
            </li>

        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Pedidos de Venda</h3>
                    </div>
                    <div class="box-body">
                        <table id="myTable" class="table table-bordered table-hover" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Cliente</th>
                                <th>Parcelas</th>
                                <th>Valor Total</th>
                                <th>Opções</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>