
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LayoutCadastro</title>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <script src="/Scripts/jquery.maskedinput.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

        <script src="/Scripts/sitemasks.js"></script>
        <script src="/Scripts/masks.js"></script>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
